<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="confirm-container">
    <div class="confirm-card">
        <div class="warning-icon">
            ⚠️
        </div>
        <h1>Delete Semester?</h1>
        <p class="confirm-text">
            Are you sure you want to delete
            <strong>Semester {{ semester_no }}</strong> ?
        </p>
        <p class="warning-text">
            This will permanently delete all subjects,
            grades and SGPA records inside this semester.
        </p>
        <div class="confirm-actions">
            <form action="/delete_semester/{{ id }}" method="POST">
                <button type="submit" class="btn-danger">Yes, Delete </button>
            </form>
            <a href="/grades" class="btn-secondary"> Cancel</a>
        </div>
    </div>
</div>
</body>
</html>